node_modules
dist
dist-ssr
*.local
.env
.env.local
.DS_Store
*.log
.vite
supabase/.temp
docs/Error_refs
docs/Logos
docs/Reference_DataBase_Tables
docs/Reference_Pages
docs/Screenshots
docs/Test Files
docs/database/SupaBase_Guide_ReadMe.txt
docs/database/migrations
